


            {% for o in order %}
            {% for p in o.order.products.all %}
            <div class="row mb-2 border shadow-sm rounded p-4 order-placed-history" onclick="location.href='{% url 'payment:order_placed_history' o.order.orders_id  o.order.id  p.id  o.id %}'">
                <div class="col-lg-6 col-12">
                    <div class="row">
                        <div class="col-lg-3 col-3">
                            <img src="{{p.product.images2.url}}" alt="" class=" border rounded" height="100px">
                        </div>
                        <div class="col-lg-9 col-9">
                            <p class="font-weight-bold">{{p.product.product.product_name}}</p>
                            <p>Size : {{p.product_quantity.product_size}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-12">
                    <p>₹{{p.totel_qty_price}}</p>
                </div>
                {% include 'user/payment-order/order-deatails/status.html' %}
            </div>
            {% empty %}
            <p>ggg</p>
            {% endfor %}
            {% endfor %}