{% extends 'admin/admin-base.html' %}
{% load widget_tweaks %}

    {% load static %}
    {% block title %}
    Create_Category
  {% endblock title %}
    {% block content  %}
    <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                {% include 'admin/admin-includes/alert.html' %}
              <h4>Color</h4>
            </div>
            <div class="card-body">
                <form method='POST' action="" enctype="">
                    {% csrf_token %}
            
            <div class="form-group">
                <label>Title</label>
                {% comment %} <input type="{{f.f.widget.input_type}}"name="{{f.name}}" id="{{f.name}}" class="form-control"> {% endcomment %}
                {% render_field form.title   name="category_name" id="category_name" placeholder="color" class="form-control" %}
            </div>
            <div class="form-group">
                <label>Color-code</label>
                {% comment %} <input type="{{f.f.widget.input_type}}"name="{{f.name}}" id="{{f.name}}" class="form-control"> {% endcomment %}
                {% render_field form.color_code   name="category_name" id="category_name" placeholder="code" class="form-control" %}
            </div>
            <!-- <div class="form-group">
                <label>slug</label>
                {% comment %} <input type="{{f.f.widget.input_type}}"name="{{f.name}}" id="{{f.name}}" class="form-control"> {% endcomment %}
                {% render_field form.slug name="slug" id="slug" placeholder="Slug" class="form-control" %}
            </div> -->
            <div class="form-group">
                <label>Discription</label>
                {% comment %} <input type="{{f.f.widget.input_type}}"name="{{f.name}}" id="{{f.name}}" class="form-control"> {% endcomment %}
                {% render_field form.discription   name="description " id="description " placeholder="description" class="summernote" %}
            </div>
            <div class="form-group">
                <label>is_valid</label>
                
                 {% render_field form.is_active type="checkbox" %}
                
            </div>
            
            <button class="btn btn-primary btn-block" type="submit">SAVE Color</button>
           </form>
        </div>
    </div>
</div>

    {% endblock %}
    {% block custum_js %}
    
    {% endblock custum_js %}

