{% extends 'admin/admin-base.html' %}
    {% load static %}
    {% block title %}
    Size
  {% endblock title %}
    {% block content  %}
    
       <p></p>
       <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4>Invoices</h4>
                  <div class="card-header-action">
                    <a href="{% url 'size_add' %}" class="btn btn-danger">Add Size<i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="table-responsive table-invoice">
                    <table class="table table-striped">
                      <tr class="text-center" >
                        <th>Invoice ID</th>
                        <th>Category</th>
                        <th>Size</th>
                        <th>Slug</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                      {% for s in size %}
                      <tr>
                        <td><a href="#">{{forloop.counter}}</a></td>
                        <td class="font-weight-600">{{s.category}}</td>
                        <td>{{s.size}}</td>
                        <td>{{s.slug}}</td>
                        {% comment %} <td><div class="badge badge-warning">{{c.is_active }}</div></td> {% endcomment %}
                        <td>
                        {% if s.is_active %}
                        <div class="badge badge-success">Active</div>
                        {% else %}
                        <div class="badge badge-warning">Inactive</div>
                        {% endif %}

                        </td>
                        <td>
                          {% comment %} <a href="" class="btn btn-primary">Update</a> {% endcomment %}
                          <a class="btn btn-primary btn-action mr-1" href="{% url 'sizupdate' s.id %}" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                        </td>
                        <td>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <a class="btn btn-danger btn-action mr-1" href="{% url 'sizdelete' s.id %}" data-toggle="tooltip" title="Delete"><i class="fas fa-trash"></i></a>
                            </form>
                          </td>
                      </tr>
                      {% endfor %}  
                    </table>
                  </div>
                </div>
              </div>
            </div>
    
    {% endblock %}