{% extends 'admin/admin-base.html' %}
    {% load static %}
    {% block title %}
    ProductQuantyty
  {% endblock title %}
    {% block content  %}
    
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Latest Posts</h4>
          <div class="card-header-action">
            <a href="{% url 'proqunt_add' %}" class="btn btn-primary">Add Product</a>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead>
                <tr class="">
                  <th>Product Name</th>
                  <th>Size</th>
                  <th>Color</th>
                  <th>Quantity</th>
                  <th>Stock</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody> 
                {% for q in quanty %}                        
                <tr>
                  
                  <td>
                    {{q.product }}
                   </td>
                  <td>
                   {{q.product_size}}
                  </td>
                   <td>
                    {{q.product_color}}
                   </td>
                   <td>
                    {{q.quantity}}
                   </td>
                   <td>
                    {{q.stock}}
                   </td>
                   <td>
                    {% if q.is_active %}
                        <div class="badge badge-success">{{q.is_active }}</div>
                        {% else %}
                        <div class="badge badge-warning">{{q.is_active }}</div>
                        {% endif %}
                    </td>
                  <td>
                    <a class="btn btn-primary btn-action" href="{% url 'qupdate' q.id %}" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                  </td>
                    <td>
                      <form action="" method="POST">
                    <a class="btn btn-danger btn-action" href="{% url 'qdelete' q.id %}" data-toggle="tooltip" title="Delete" ><i class="fas fa-trash"></i></a>
                      </f>
                  </td>
                 
                </tr>
                <tr>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}