{% load static %}

<!-- cash on delivery  -->
<div class="col-lg-12">
    <label class="radio mb-1" id="cash_on_delivery_method">
        <input type="radio" name="cash_on_delivery" class="" id="" value="cash on delivery">
        <span>
            <div class="col-lg-12" style="width: 42rem;">
                <p class="font-weight-bold" id="paypal-button-container" >Paypal</p>
            </div>
        </span>
    </label>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({


        style: {
            color:  'blue',
            shape:  'pill',
            label:  'pay',
            height: 40
         }


        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '88.44'
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                // Replace the above to show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '';
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }


    }).render('#paypal-button-container');
</script>