{% extends "user/base-layout.html" %}

{% block content %}


<div class="customer-login mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4"></div>
            <div class="col-lg-4 col-md-4">
                <p class="text-center font-weight-bold" >Enter your email to receive instructions on how to reset your password.</p>
                <div class="account_form border" data-aos="fade-up" data-aos-delay="0">
                    <form action="" method="POST" >
                        {% csrf_token %}
                        {% include 'user/accounts/massage.html' %}
                        
                        <div class="default-form-box">
                           <input type="email" name="email" placeholder="Enter Your Email Address" required >
                        </div>

                        <button class="btn btn-md btn-black-default-hover mb-4 col-lg-12 col-md-12"
                            type="submit">Reset</button>
                            <label for="">Or return to </label> <a href="{% url 'accounts:login' %}"><u>Sign In.</u> </a>
                    </form>

                </div>
            </div>
            <div class="col-lg-4 col-md-4"></div>

            <!--login area start-->
        </div>
    </div>
</div> <!-- ...:::: End Customer Login Section :::... -->
{% endblock %}

